.web{
    display: flex;
    flex: 1;
    align-items: center;
}
.web-option{
    font-size: 20px;
    margin-right: 30px;
    font-weight: 700;
    cursor: pointer;
}
.web-option > a{
    display:flex;
    text-decoration: none;
    align-items: center;
    margin-right: 4px;
    color: black;
    cursor: pointer;
}
.web-option > label{
    cursor: pointer;
}
.option-icon{
    margin-right: 5px;
    cursor: pointer;
}
.web-option:last-child{
    margin-right: 0px;
}
