.skill-card{
    width: max-content;
    margin: 0px 10px;
    padding: 8px 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border-bottom: 2px solid hsl(280deg 81% 45%);
    border-right: 2px solid hsl(280deg 81% 45%);
    transition: transform 350ms;
    cursor: pointer;
}
.skill-card:hover {
    transform: scale(1.05);
  }
.skill-icon{
    font-size: 80px;
}
.skill-name{
    text-align: center;
    font-size: 18px;
}

@media only screen and (max-width: 720px) {
       .skill-card{
           width: max-content;
           height: 100px;
       }
       .skill-icon{
           font-size: 60px;
       }
}