.skills{
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin-top: 4rem;
}

.skills-list{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    align-items: center;
}

@media only screen and (max-width: 720px){
    .skills-list::-webkit-scrollbar{
        display: none;
    }
}