.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.section-title {
  font-size: 32px;
  font-weight: 700;
}
.contact-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.contact-left {
  max-width: 60%;
  font-size: 20px;
  text-align: center;
}
.download {
  background-color: aquamarine;
  padding: 8px 16px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor:pointer;
}
.download > a {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: transform 350ms;
}
.download > a:hover{
  transform: scale(1.02);
}
@media only screen and (max-width: 1334px) {
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-left {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 12px;
  }
  .download {
    font-size: 16px;
  }
  .section-title {
    font-size: 25px;
    font-weight: 700;
  }
}
