.social-icon {
  height: 100px;
  cursor: pointer;
}
.social-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-contact > a {
  transition: transform 350ms;
}
.social-contact > a:hover {
  transform: scale(1.09);
}
.social-icon-div {
  padding: 6px;
  margin: 6px;
}
@media only screen and (max-width: 720px) {
  .social-icon {
    height: 50px;
  }
}
