
.form{
    display: flex;
    flex-direction: column;
}

.form > label{
    align-items: left;
    text-align: left;
    margin-bottom:5px;
}
.inputt{
    height:4rem;
    border-radius:10px;
}

.button{
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    background-color: #1976d2 ;
    border-radius: 10px;
    transition: transform 350ms;
    margin-top: 2rem;
}

.button:hover{
    transform: scale(1.02);
    
}
.name{
    font-size: 32px;
}

@media only screen and (max-width: 720px){
    .contact-form{
        width: 50%;
        align-items: center;
        justify-content: center;
        margin-left: 64px;
        margin-bottom: 20px;
    }
    .name{
        font-size: 17px;
    }
}